.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .success-message {
    color: #4caf50;
    margin-bottom: 10px;
  }
  
  .error-message {
    color: #f44336;
    margin-bottom: 10px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .forgot-password-input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .forgot-password-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .forgot-password-button:hover {
    background-color: #0056b3;
  }
  
  .back-button1 {
    margin-top: 20px;
  }
  
  .back-button1 a {
    color: #2691d9;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
  }
  
  .back-button1 a:hover {
    text-decoration: underline;
  }

  .enter-another-username button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .enter-another-username button:hover {
    background-color: #ff3b20;
  }

  .input-type-selector {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .input-type-selector label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .input-type-selector input {
    margin-right: 10px;
    accent-color: #007bff;
  }